@tailwind base;
@tailwind components;
@tailwind utilities;


a {
    cursor: pointer;
}

.app-container {
    min-height: 350px;
}


.maincontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
}

.inputImage {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.originalImage {
    display: flex;
    justify-content: center;   
}

.comprssedImage {
    display: flex;
    justify-content: center;
}

.savaButton {
    display: flex;
    justify-content: center;  
    padding-top: 10px;      
}

#body {
    background-color: #061960;
}


.container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
}


@media screen and (min-width: 280px) and (max-width: 576px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
}